*{
  margin: 0%;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  background-color: rgb(51, 51, 51);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23484848' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  
}

.menu{
  background-color: rgb(20, 20, 20);
  height: 150px;
  color: white;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.menu div{

  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu h2 {

  margin-left: 80px;
}

.menu div a {

font-size: 20px;
color: rgb(202, 202, 202);
text-decoration: none;
}

.menu div :hover{

  color: rgb(38, 202, 202);
}

.tittle{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(38, 202, 202);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  border-top: solid 8px rgb(177, 198, 240);
}


.cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.count {
  font-size: 100px;
  color: white;
  margin-bottom: 40px;
}


.btns{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.btns .btn1{
  width: 90px;
  height: 70px;
  background-color: rgb(0, 108, 0);
  color: white;
}

.btns .btn2 {
  width: 90px;
  height: 70px;
  background-color: rgb(104, 112, 0);
  color: rgb(0, 0, 0);
}


.btns .btn3{
  width: 90px;
  height: 70px;
  background-color: rgb(89, 13, 0);
  color: white;
}

.light{
  background-color: rgb(134, 134, 134);
}

.dark{
  background-color: rgb(51, 51, 51);
}


.image {
  filter: sepia();
}

.hola{
  background-color: aliceblue;
}

.div{
  background-color: aquamarine;
  padding: 20px;
}

.card {
  background-color: yellow;

}

.form_div{

  background-color: #0f1022;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: aliceblue;
}

.form{

  width: 50%;
}

.input1{

  width: 100%;
  height: 30px;
  background-color: #0f1022;
  border: 0;
  border-bottom: solid #fd8c00 1px;
  outline: none;
  color: aliceblue;
  margin-top: 20px;
  margin-bottom: 20px;

}

.inputArea{
  width: 100%;
  height: 100px;
  background-color: #0f1022;
  border: 0;
  border-bottom: solid #fd8c00 1px;
  outline: none;
  color: aliceblue;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btnSend{

  background-color: #fd8c00;
  border: none;
  width: 100px;
  height: 40px;
  margin-bottom: 30px;
}

.containerInput{

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.container{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}


.img-gif{

  width: 400px;
  height: 300px;
  margin: 20px;
}
